<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuzp.secondworld">

    <!--<uses-permission android:name="android.permission.READ_CONTACTS"/>-->
    <!-- 申请网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 照相机的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 读写权限还是需要的 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 需要获取读取通话记录的权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>

    <!-- 友盟统计需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->

    <!-- 个推使用权限 -->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}"/>

    <!-- 百度语音添加权限 -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!-- 本地文件查找添加权限 -->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <!-- 个推自定义的权限 -->
    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal"/>

    <!-- 正常运行的测试代码 -->
    <application
        android:name=".HApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- *************************************************************** -->
        <!-- **************************   Activity             **************-->
        <!-- *************************************************************** -->
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.dialog.AddAlbumActivity"
            android:theme="@style/DialogTransparent"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.huasheng.HuashengActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.huasheng.OtherHsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.huasheng.recyclerView.RecyclerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.permission.PerimissionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.wuzp.secondworld.view.databinding.DataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.datalist.DataListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.diff.DiffActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.glide.GlideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.task.TaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.loader.LoaderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.cursorloader.CursorloaderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.nettyClient.NettyClientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.gif.GifActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.gt.GtActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.tts.TtsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.clientPage.ClientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.clientPage.TodoDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.loaderclient.LoaderClientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.loaderclient.LoaderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.refresh.RefreshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.beisier.BesierActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.matrix.MatrixActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.matrix.TestImgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.pageView.PageViewActivity"
            android:screenOrientation="portrait"/>
        <!-- 个推 -->
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- *************************************************************** -->
        <!-- **************************   Service    **************-->
        <!-- *************************************************************** -->

        <!-- 个推Service -->
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice"/>

        <!-- 用户自定义服务名 -->
         <service android:name=".view.gt.GTPushService">
             android:exported="true"
             android:label="PushService"
             android:process=":pushservice">
        </service>
        <!-- 用户自定义服务继承自GTIntentService,作为SDK与APP桥梁服务,用来接收各种消息和命令回复-->
        <service android:name=".view.gt.GTPushIntentService"/>

        <!-- *************************************************************** -->
        <!-- **************************   BroadcastReceiver    **************-->
        <!-- *************************************************************** -->

        <!-- 个推的receiver -->
        <receiver
            android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- *************************************************************** -->
        <!-- **************************   ContentProvider    **************-->
        <!-- *************************************************************** -->
        <provider
            android:name="com.example.wuzp.secondworld.view.clientPage.TodoProvider"
            android:authorities="com.bobomee.android.todo"
            android:enabled="true"
            android:exported="false">
        </provider>

        <provider
            android:name="com.example.wuzp.secondworld.view.loaderclient.LoadContentProvider"
            android:authorities="com.example.wuzp.secondworld.view.loaderclient"
            android:enabled="true"
            android:exported="false">
        </provider>
        <!-- 个推 -->
        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.${applicationId}"
            android:exported="true"
            android:process=":pushservice"/>

        <!-- *************************************************************** -->
        <!-- **************************   其他的配置    **************-->
        <!-- *************************************************************** -->
        <!-- Ument -->
        <!-- AppKey 58e4b1ce07fe6565450015d3 -->
        <!-- Umeng Message Secret  82525af778368e5acb8907328338d74e-->
        <!-- App Master Secret 1tzf5fcp9puu1p2wz9zqrl2ymb7jkvps-->
        <!-- 包名  com.example.wuzp.secondworld-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
         <!-- 应用名叫做 第二极 在友盟上申请的appKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e4b1ce07fe6565450015d3" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="82525af778368e5acb8907328338d74e" />
        <!-- 应用名叫 第二世界  在友盟上申请的appKey，但是没有appSecret-->
        <!--  <meta-data
            android:name="UMENG_APPKEY"
            android:value="590823941c5dd07763001120" />-->
        <!-- 个推的配置 -->
        <!-- 貌似这个设置没什么用哈 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"/>
    </application>
</manifest>